<div class="title-container">
<% if params[:character_id].present? %>
    <h3 class="character-name"><%= @character.character_name %></h3>
<% else %>
    <h3 class="character-name">ALL Character</h3>
<% end %>
    <%= link_to "コンボを投稿する", new_combo_path, {class: "btn btn-primary combo-post-link"} %>
</div>
<div class="filter-container">
    <button id="open-modal">フィルター</button>

    <%= render "shared/filter-modal" %>
</div>
<span id="selected-options">選択されたオプション: なし</span>
<% if @combo.any? %>
    <ol class="microposts">
    <%= render @combo %>
    <%= paginate @combo %>
    </ol>
<% end %>