<div class="row">
    <div class="col-md-2">
        <%= render "combos/characters"%>
    </div>
    <div class="col-md-7">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
    </div>
    <div class="col-md-3">
        <%= link_to "コンボを投稿する", new_combo_path, {class: "btn btn-primary"} %>
        <div class="card">
            <div class="card-body">
                <% if logged_in? %>
                    <div class="card-title"><%= current_user.name %></div>
                <% else %>
                    <div>ゲスト</div>
                <% end %>
                <%= link_to "マイページ", current_user, {class: "btn btn-primary"} %>
            </div>
        </div>
    </div>
</div>