<% situations = combo.situation.gsub(/[\[\]"]/,'').split(', ').map { |situation_id| Situation.find(situation_id.to_i).name } %>
<li class="post" id="post-combo-<%= combo.id %>" data-situation="<%= situations.join(',').strip %>">
        <div class="post-head">
            <span class="situation">
                <%= situations.join(', ') %>
            </span>
            <span class="hit_count"><span class="hit_count-int"><%= combo.hit_count %></span> Hit</span>
            <span class="damage"><span class="damage-int"><%= combo.damage %></span> Damage</span>
        </div>
    <%= link_to combo_path(combo), data: { turbo_frame: "combo" } do %>
        <span class="title"><%= combo.title %></span>
        <span class="comando"><%= combo.comando %></span>
        <span class="user"><%= link_to combo.user.name, combo.user, class: "user-link" %></span>
    <% end %>
</li>
