<ol class="microposts">
    <li id="post-combo-<%= combo.id %>">
            <div class="post-head">
                <span class="character"><%= Character.find(combo.character_id).character_name %></span>
                <span class="situation"><%= Situation.find(combo.situation.gsub(/[\[\]\"\']/, '').to_i).name %></span>
                <span class="hit_count"><%= combo.hit_count %></span>
                <span class="damage"><%= combo.damage %></span>
            </div>
        <%= link_to combo_path(combo), data: { turbo_frame: "combo" } do %>
            <span class="title"><%= combo.title %></span>
            <span class="comando"><%= combo.comando %></span>
            <span class="user"><%= link_to combo.user.name, combo.user, class: "user-link" %></span>
        <% end %>
    </li>
</ol>