<% situations = @combo.situation.gsub(/[\[\]"]/,'').split(', ').map { |situation_id| Situation.find(situation_id.to_i).name } if @combo.situation %>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 show-micropost">
        <h2 class="title"><%= @combo.title %></h2>
        <div class="likes">
            <% if logged_in? && current_user.liked?(@combo) %>
                <p><%= @combo.likes.count %></p>
                <%= link_to combo_like_path(@combo, current_user.likes.find_by(combo_id: @combo.id)), data: { "turbo-method": :delete } do %>
                    <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
                <% end %>
            <% elsif logged_in? %>
                <p><%= @combo.likes.count %></p>
                <%= link_to combo_likes_path(@combo), data: { "turbo-method": :post } do %>
                    <i class="fa-regular fa-heart fa-2xl"></i>
                <% end %>
            <% else %>
                <p><%= @combo.likes.count %></p>
                <%= link_to login_path do %>
                    <i class="fa-regular fa-heart fa-2xl"></i>
                <% end %>
            <% end %>
        </div>
        <h3 class="commando"><%= @combo.comando %></h3>
        <div>
            <span class="situation">
                <%= situations.join(', ') if situations %>
            </span>
            <span class="hit_count"><span class="hit_count-int"><%= @combo.hit_count %></span> Hit</span>
            <span class="damage"><span class="damage-int"><%= @combo.damage %></span> Damage</span>
        </div>
        <div class="micropost-body">
            <div class="body-left col-lg-7">
                <div class="video-container">
                    <%= video_tag @combo.video_url.url, autoplay: false, muted: false, controls: true, height: "65%", width: "100%", class: "video", id: "video" %>
                    <div class="video-control">
                        <select id="playbackSpeed">
                            <option value="0.25">0.25倍速</option>
                            <option value="0.5">0.5倍速</option>
                            <option value="0.75">0.75倍速</option>
                            <option value="1" selected>1倍速（通常）</option>
                            <option value="1.25">1.25倍速</option>
                            <option value="1.5">1.5倍速</option>
                            <option value="1.75">1.75倍速</option>
                            <option value="2">2倍速</option>
                        </select>
                        <button id="toggleLoop" class="btn btn-primary">ループ：オフ</button>
                    </div>
                </div>
                <div class="description"><%= @combo.description %></div>
            </div>
            <div class="comment col-lg-5">
                <div class="show-comment">
                    <h3>コメント</h3>
                    <% @combo.comments.each do |comment|%>
                        <div class="media mb-3">
                            <div class="media-body">
                                <h5 class="mt-0"><%= comment.user.name %> <small><i><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></i></small></h5>
                                <p><%= comment.body %></p>
                            </div>
                            <% if current_user?(comment.user) %>
                                <%= link_to "delete", combo_path(@combo), data: { "turbo-method": :delete,
                                                                        turbo_confirm: "本当に削除しますか？" } %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <%= form_with(model: [ @combo, Comment.new ], local: true) do |f|%>
                    <%= f.text_area :body, class: "form-control", placeholder: "comment..." %>
                    <%= f.submit "コメントを投稿", class: "btn btn-success" %>
                <% end %>
            </div>
        </div>
        <div class="col-lg-12">
            <span class="user"><%= link_to @combo.user.name, @combo.user %></span>
            <span class="timestamp">
                投稿日 <%= @combo.created_at.strftime("%Y-%m-%d %H:%M") %>
                <% if current_user?(@combo.user) %>
                    <%= link_to "delete", @combo, data: { "turbo-method": :delete,
                                                            turbo_confirm: "本当に削除しますか?" } %>
                <% end %>
            </span>
        </div>
    </div>
</div>